/* body{
    background-color:brown;
} */

.doc1{
    height:300px;
    width:100%;
    background-color: rgb(227, 215, 195);
    margin: 5px;
}

.doc2{
    height:300px;
    width:100%;
    background-color: rgb(225, 224, 188);
    margin: 5px;
}

.doc3{
    height:300px;
    width:100%;
    background-color: rgb(225, 227, 195);
    margin: 5px;
}

.doc4{
    height:300px;
    width:100%;
    background-color: rgb(215, 227, 195);
    margin: 5px;
}

.doc5{
    height:300px;
    width:100%;
    background-color: rgb(195, 227, 198);
    margin: 5px;
}

.doc6{
    height:300px;
    width:100%;
    background-color: rgb(195, 227, 220);
    margin: 5px;
}

img{
    border-radius: 50%;
    border-style: none;
    margin-top: 25px;
    margin-left: 5px;
    align-content: left;
}

h2{
    text-align: center;
}